# Ignore General
.DS_Store
*.log
#/resources/ 

# Ignore temporary and cache files
*.tmp
*.cache
#*.slxc

# Ignore autosave files
*.asv
*.m~
#*.slx.r*
*.mdl.r*

# Matlab code generation folders
codegen/

# Ignore MATLAB Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Ignore MATLAB Cloud based storage dotfile
.MATLABDriveTag

# Ignore MATLAB projects?
#*.prj

# Ignore MATLAB generated helpsearch folders
helpsearch*/

# Ignore Vivado
.Xil
#/project_*.runs/
#/project_*.sim/
/project_*.cache/

# Octave session info
octave-workspace
